<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<real>1</real>
		<key>Key</key>
		<string>defaultFormat</string>
		<key>Title</key>
		<string>Default Format</string>
		<key>Titles</key>
		<array>
			<string>Format1</string>
			<string>Format2</string>
			<string>Format3</string>
			<string>Format4</string>
			<string>Format5</string>
			<string>Format6</string>
			<string>Format7</string>
			<string>Format8</string>
			<string>Format9</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>1</real>
			<real>2</real>
			<real>3</real>
			<real>4</real>
			<real>5</real>
			<real>6</real>
			<real>7</real>
			<real>8</real>
			<real>9</real>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Markdown</string>
		<key>Key</key>
		<string>title1</string>
		<key>Title</key>
		<string>Title1</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>return '['+title.replace(/\[/g,'\\[').replace(/\]/g,'\\]')+']('+url.replace(/\)/g,'%29')+')'</string>
		<key>Key</key>
		<string>format1</string>
		<key>Title</key>
		<string>Format1</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Redmine Textile</string>
		<key>Key</key>
		<string>title2</string>
		<key>Title</key>
		<string>Title2</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>return '"'+title.replace(/"/g,'&amp;amp;quot;').replace(/\[/g,'&amp;amp;#91;')+'":'+url</string>
		<key>Key</key>
		<string>format2</string>
		<key>Title</key>
		<string>Format2</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>HTML</string>
		<key>Key</key>
		<string>title3</string>
		<key>Title</key>
		<string>Title3</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>return '&lt;a href="'+url.replace(/"/g,'&amp;quot;')+'"&gt;'+title.replace(/&lt;/g,'&amp;lt;')+'&lt;/a&gt;'</string>
		<key>Key</key>
		<string>format3</string>
		<key>Title</key>
		<string>Format3</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>Text</string>
		<key>Key</key>
		<string>title4</string>
		<key>Title</key>
		<string>Title4</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>return title+"\n"+url</string>
		<key>Key</key>
		<string>format4</string>
		<key>Title</key>
		<string>Format4</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>title5</string>
		<key>Title</key>
		<string>Title5</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>format5</string>
		<key>Title</key>
		<string>Format5</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>title6</string>
		<key>Title</key>
		<string>Title6</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>format6</string>
		<key>Title</key>
		<string>Format6</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>title7</string>
		<key>Title</key>
		<string>Title7</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>format7</string>
		<key>Title</key>
		<string>Format7</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>title8</string>
		<key>Title</key>
		<string>Title8</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>format8</string>
		<key>Title</key>
		<string>Format8</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>title9</string>
		<key>Title</key>
		<string>Title9</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>format9</string>
		<key>Title</key>
		<string>Format9</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
